*begin s66

*title "FB18 - Cheminée dans la Boucle Lustu'crue  ( Michel Demierre, Jérôme Perrin - 26.08.1998 )"
*date 1998.8.26
*team M.Demierre compass clino tape
*team J.Perrin notes

*calibrate compass -0.13
*units compass grads
*units clino grads

*data normal from to tape compass clino
0	1	0.00	0.00	0.00	; Gal.65 / Pt 10
1	2	3.65	199.00	7.00	; Arrivée d'eau

*data passage station left right up down ignoreall
1	0.00	0.60	10.00	1.50
2	2.70	0.00	8.00	1.50

*end s66
